<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.way.firupgrade">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- 接受下载apk成功广播，更新apk使用 -->
        <receiver android:name="com.way.firupgrade.DownloadCompleteReveiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
